Scheduler.Tests/Service References/PublishedDataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Personalization" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Personalization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.232.254.196:6058/SchedulerHost/Services/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="tns:UserRole" />
          <xs:element minOccurs="0" name="RoleId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="UserRole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities" base="q2:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="tns:UserRoleTypes" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:simpleType name="UserRoleTypes">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="UserRoleTypes" nillable="true" type="tns:UserRoleTypes" />
</xs:schema>